<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <h2 class="mb-5 text-center">Menu</h2>
            @foreach (var menuItem in Model)
            {
                <div class="row mb-3 align-items-start">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-1 pe-2">@menuItem.MenuItemName</h5>
                            <p class="fw-bold mb-0">@menuItem.Price.ToString("C")</p>
                        </div>
                        @if (!string.IsNullOrEmpty(menuItem.MenuDescription))
                        {
                            <p class="text-muted small mb-0">@menuItem.MenuDescription</p>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>