
<h3>@ViewData["Title"]</h3>

<div class="container">
    <div class="row">

        <!-- Layout Settings Card -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Menu</h5>
                    <p class="card-text">WIP</p>
                    <a href="#" class="btn btn-primary">Edit Menu</a>
                </div>
            </div>
        </div>

        <!-- Customers Card -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                    <p class="card-text">WIP</p>
                    <a href="@Url.Action("Index", "Reservation")" class="btn btn-primary">View Customers</a>
                </div>
            </div>
        </div>

        <!-- Reservations Card -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Reservations</h5>
                    <p class="card-text">View and manage reservations</p>
                    <a href="@Url.Action("Search", "Reservation")" class="btn btn-primary">Search Reservations</a>
                </div>
            </div>
        </div>

        <!-- Admin Settings Card -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Admin Settings</h5>
                    <p class="card-text">Not Functional. Settings to add more admins, add more options to the admin menu etc</p>
                    <a href="#" class="btn btn-primary">View Settings</a>
                </div>
            </div>
        </div>

        <!-- Layout Settings Card -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Layout Settings</h5>
                    <p class="card-text">Not Functional. Settings to edit main screen, nav bar, fonts, colors etc</p>
                    <a href="#" class="btn btn-primary">View Settings</a>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="@Url.Action("Logout", "Admin")" method="post" style="position: fixed; bottom: 120px; right: 20px;">
    <button type="submit" class="btn btn-danger">Log Out</button>
</form>