
<h3>@ViewData["Title"]</h3>

<div>
    <ul class="">
        <li class="nav-item">
            <a class="nav-link text-dark d-lg-none" asp-area="" asp-controller="" asp-action="Menu">View Menu Options</a>
            <a class="nav-link text-dark d-lg-none" asp-area="" asp-controller="" asp-action="Customer">View Customer Options</a>
            <a class="nav-link text-dark d-lg-none" asp-area="" asp-controller="" asp-action="Reservation">View Reservation Options</a>
            <a class="nav-link text-dark d-lg-none" asp-area="" asp-controller="" asp-action="Admin">View Admin Options</a>
        </li>
    </ul>
</div>