@{
    ViewData["Title"] = "Home Page";
}

@* <h3>@ViewData["Message"]</h3> *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <a asp-action="Index" asp-route-name="Huan">Generate Query</a>

<form asp-action="Index" method="get">
    <label for="name">Enter Name</label>
    <input type="text" id="name" name="name" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form> *@
