@font-face {
    font-family: 'Zodiak';
    src: url('/fonts/Zodiak-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comico';
    src: url('/fonts/Comico-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: Comico;
    font-size: 2.5em;
}

body {
    font-family: Zodiak, sans-serif;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

